<ion-view view-title="Privacy">
    <ion-content class="padding">

        <div class="list">
            <div class="item item-divider">
                Attività che esegui e informazioni che fornisci
            </div>
            <p style="text-align: justify; padding:10px;">
                Raccogliamo i contenuti e le altre informazioni che fornisci quando usi i nostri Servizi, anche quando
                crei
                un account, crei o condividi contenuti e invii messaggi o comunichi con le altre persone. Può trattarsi
                di
                informazioni presenti o relative ai contenuti che fornisci, ad esempio la posizione di una foto o la
                data in
                cui è stato creato un file. Raccogliamo anche informazioni sul modo in cui usi i nostri Servizi, ad
                esempio
                i tipi di contenuti che visualizzi o con cui interagisci o la frequenza e la durata delle tue attività.
            </p>

            <div class="item item-divider">
                Attività eseguite e informazioni fornite dalle altre persone
            </div>
            <p style="text-align: justify; padding:10px;">
                Raccogliamo anche i contenuti e le informazioni che le altre persone forniscono quando usano i nostri
                Servizi, comprese le informazioni su di te, ad esempio quando condividono una foto in cui ci sei tu, ti
                inviano un messaggio o caricano, sincronizzano o importano le tue informazioni di contatto.
            </p>


            <div class="item item-divider">
                Le tue reti e connessioni
            </div>
            <p style="text-align: justify; padding:10px;">
                Raccogliamo le informazioni sulle persone e sui gruppi con cui ti connetti e il modo in cui vi
                interagisci, ad esempio le persone con cui comunichi più spesso o i gruppi con cui ti piace condividere
                contenuti. Raccogliamo anche le informazioni che fornisci se carichi, sincronizzi o importi le
                informazioni in questione (ad esempio la rubrica) da un dispositivo.
            </p>

        </div>


    </ion-content>
</ion-view>