<ion-view view-title="Condizioni d'uso">
    <ion-content class="padding" style="text-align: justify">


        Il presente accordo è stato redatto in inglese (Stati Uniti). In caso di conflitto tra qualsiasi delle versioni
        tradotte del presente accordo e la versione in lingua inglese, sarà quest'ultima a prevalere. La Sezione 16
        contiene alcune modifiche alle condizioni generali per gli utenti al di fuori degli Stati Uniti.
        Data dell'ultima revisione: 30.01.2015
        <br/>
        <br/>
        <h4>Dichiarazione dei diritti e delle responsabilità</h4>
        <br/>
        La presente Dichiarazione dei diritti e delle responsabilità ("Dichiarazione", "Condizioni" o "DDR") è stata
        estratta dai Principi di Quoozy e regola il nostro rapporto con gli utenti e con chiunque interagisca con
        Quoozy e con tutti i marchi, i prodotti e i servizi Quoozy, di seguito definiti "Servizi di Quoozy" o
        "Servizi". L'utilizzo o l'accesso ai Servizi di Quoozy comporta l'accettazione della presente Dichiarazione e
        dei relativi aggiornamenti, che potrebbero essere apportati di tanto in tanto in conformità con la Sezione 13 di
        seguito. Alla fine del presente documento, vengono altresì elencate delle risorse che possono aiutare gli utenti
        a capire il funzionamento di Quoozy.
        Dal momento che Quoozy fornisce un'ampia gamma di Servizi, potremmo richiedere all'utente di verificare e
        accettare condizioni aggiuntive che saranno applicate all'interazione con un'applicazione, un prodotto o un
        servizio specifico. In caso di conflitto di tali condizioni aggiuntive con la presente DDR, prevarranno le
        condizioni aggiuntive associate all'applicazione, al prodotto o al servizio, in relazione all'utilizzo da parte
        dell'utente di tale applicazione, prodotto o servizio per quanto riguarda l'ambito del conflitto.

        <br/>
        <h5>Privacy</h5>

        Per Quoozy, la privacy degli utenti è molto importante. Abbiamo sviluppato la nostra Normativa sui dati in
        modo che fornisca indicazioni fondamentali su come usare Quoozy per condividere contenuti con altre persone e
        su come raccogliamo e possiamo usare i contenuti e le informazioni delle persone. Invitiamo gli utenti a leggere
        la Normativa sui dati e a utilizzarla per prendere decisioni informate.

        <br/>
        <h5>Condivisione dei contenuti e delle informazioni</h5>

        L'utente è il proprietario di tutti i contenuti e le informazioni pubblicate su Facebook e può controllare in
        che modo vengono condivisi mediante le impostazioni sulla privacy e le impostazioni delle applicazioni. Inoltre:
        Per quanto riguarda i contenuti coperti da diritti di proprietà intellettuale, ad esempio foto e video
        ("Contenuti IP"), l'utente concede a Facebook le seguenti autorizzazioni, soggette alle impostazioni sulla
        privacy e alle impostazioni delle applicazioni: l'utente concede a Facebook una licenza non esclusiva,
        trasferibile, che può essere concessa come sottolicenza, libera da royalty e valida in tutto il mondo, per
        l'utilizzo di qualsiasi Contenuto IP pubblicato su Facebook o in connessione con Facebook ("Licenza IP"). La
        Licenza IP termina nel momento in cui l'utente elimina il suo account o i Contenuti IP presenti nel suo account,
        a meno che tali contenuti non siano stati condivisi con terzi e che questi non li abbiano eliminati.
        Quando l'utente li elimina, i Contenuti IP vengono eliminati in modo simile a quando si svuota il cestino del
        computer. Tuttavia, è possibile che i contenuti rimossi vengano conservati come copie di backup per un
        determinato periodo di tempo (pur non essendo visibili ad altri).
        Quando l'utente usa un'applicazione, questa può richiedere l'autorizzazione dell'utente per accedere a contenuti
        e informazioni condivise da altre persone. Le applicazioni devono rispettare la privacy dell'utente. L'accordo
        accettato al momento dell'aggiunta dell'applicazione regola il modo in cui l'applicazione può usare, archiviare
        e trasferire i contenuti e le informazioni. Per maggiori informazioni sulla Piattaforma, comprese quelle
        riguardanti il controllo sulle informazioni che le altre persone possono condividere con le applicazioni,
        consulta la nostra Normativa sui dati e visita la Pagina della Piattaforma.
        Quando l'utente pubblica contenuti o informazioni usando l'impostazione "Pubblica", concede a tutti, anche alle
        persone che non sono iscritte a Facebook, di accedere e usare tali informazioni e di associarle al suo profilo
        (ovvero al suo nome e alla sua immagine del profilo).
        I commenti o i suggerimenti degli utenti relativi a Facebook sono sempre benvenuti. Tuttavia, l'utente deve
        essere al corrente del fatto che potremmo usarli senza alcun obbligo di compenso nei suoi confronti (allo stesso
        modo in cui l'utente non è obbligato a fornirli).


    </ion-content>
</ion-view>