<ion-view view-title="Assistenza">
    <ion-content class="padding">

    <br/>
        <small style="text-align: left">App version: {{$root.appVersion}}</small>
        <br/>
        <br/>
        <p style="text-align: justify;">
            1. Comunicazioni private agli amministratori, ai moderatori e contestazioni di qualsiasi genere vanno
            indirizzate agli amministratori o ai moderatori stessi e non devono essere pubblicate sul blog. I commenti
            che
            contravvengono a questa regola verranno rimossi senza nessun prevviso.
            <br/><br/>
            2. L’utente concorda di non inviare commenti abusivi, osceni, volgari, diffamatori, di odio, minatori,
            sessuali
            o lesivi della privacy delle persone, né messaggi che possano costituire insulto a persone, a categorie di
            persone o all’operato, i prodotti o i servizi di aziende né di qualunque altro materiale che possa violare
            qualunque legge applicabile. L’utente accetta inoltre di non inserire messaggi contenenti materiale protetto
            da
            copyright di cui non detenga i diritti. Nel blog non è consentito l’inserimento di messaggi a carattere
            commerciale o pubblicitario nè la propaganda politica di qualunque genere e nemmeno di discussioni o
            messaggi
            che incoraggino o favoriscano la pirateria software o artistica o il download di materiale protetto da
            copyright.
            <br/><br/>
            3. I moderatori e gli amministratori del sito si riservano il diritto di rimuovere o spostare senza alcun
            preavviso i messaggi che vadano contro la morale o utilizzino un linguaggio scurrile o che comunque siano in
            contrasto con le regole del blog o la politica editoriale del sito. Gli amministratori potranno, nel caso di
            violazioni, e senza preavviso, rimuovere i messaggi, sostituirli con messaggi di avviso, sospendere la
            possiblità di inserimento di nuovi messaggi per l’utente e sospendere l’accesso dell’utente al blog o al
            sito.
            <br/><br/>
            4. L’utente concorda che ogni informazione che è stata inserita verrà conservata in un database. Queste
            informazioni non verranno cedute a terzi senza il consenso dell’utente, il webmaster, l’amministratore e i
            moderatori non possono essere ritenuti responsabili per gli attacchi da parte degli hacker che possano
            compromettere i dati.
            <br/><br/>
            5. Gli amministratori o i moderatori possono rettificare le presenti condizioni in qualsiasi momento
            aggiornando
            questa pubblicazione. Si consiglia di visitare periodicamente la presente pagina per prendere visione delle
            condizioni correnti, in quanto vincolanti per l’utente.
            <br/><br/>
            6. Il sito non ha carattere di periodicità e non rappresenta "prodotto editoriale". Il materiale è
            riprodotto a
            scopo puramente informativo e illustrativo e resta di proprietà dei legittimi titolari.
            <br/><br/>
            7.I gestori del sito non si assumono la responsabilità dei contenuti inseriti dagli utenti. In nessun caso i
            gestori di iMaccanici.org possono essere ritenuti responsabili per i contenuti di cui al punto 2. .
        </p>


    </ion-content>
</ion-view>