<ion-pane style="top:44px;" id="profileSlideBox" ng-style="slideStyle">
    <ion-slide-box>
        <ion-slide>
            <div class="user-img1 padding imgslide" ng-style="imgStyle">
                <img ng-src="{{images[0]}}"
                     default-src="img/thumb-profile.jpg"
                     class="profile-avatar"
                     ng-style="avatarStyle">
            </div>
        </ion-slide>

        <ion-slide ng-if="$index !=0" ng-repeat="img in images" >
            <div ng-if="$index!=0"
                 class="user-img-profile padding imgslide"
                 style="background:url({{img}}) no-repeat center; background-size: cover"
                 ng-style="imgStyle">
            </div>
        </ion-slide>

    </ion-slide-box>
</ion-pane>
<ng-transclude></ng-transclude>