<ion-view title="Signin Local" hide-nav-bar="true" hide-back-button="true">
    <ion-content id="signinlocal">

        <div class="row logo">
            <div class="col">
                <img src="img/logo.svg">
            </div>
        </div>


        <form name="sgnlocCtrl.loginForm" ng-submit="sgnlocCtrl.login()" novalidate>

            <div id="loginList" class="list list-inset">
                <label class="item item-input">
                    <input type="text"
                           placeholder="Email"
                           ng-model="credentials.username"
                           required
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false">
                </label>
                <label class="item item-input">
                    <input type="password"
                           placeholder="Password"
                           ng-model="credentials.password"
                           autocomplete="off"
                           required>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button  type="submit" class="button button-block button-large button-dark">
                        Accedi
                    </button>

                    <button type="reset" class="button button-block button-large button-stable" ui-sref="login.sign-in">
                        Annulla
                    </button>
                </div>
            </div>

        </form>


    </ion-content>
</ion-view>