<ion-view title="Login Page" hide-nav-bar="true" hide-back-button="true">
    <ion-content id="login">

        <div class="row logo">
            <div class="col">
                <img src="img/logo.svg">
            </div>
        </div>

        <div class="row buttons">
            <div class="col">
                <button class="button button-block button-large button-calm">
                    Crea un nuovo Account
                </button>

                <button class="button button-block button-large button-dark" ui-sref="login.sign-in-local">
                    Accedi
                </button>

                <button class="button button-block button-large button-facebook icon-left ion-social-facebook" style="line-height: 50px;">
                    Accedi con facebook
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>