<ion-view view-title="CHAT">
    <ion-header-bar class="bar bar-subheader bar-calm item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Messaggio" ng-model="search.$" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-dark" ng-click="search()">INVIA</button>
    </ion-header-bar>
    <ion-content class="has-subheader" id="chat">

        <h4>TEST CHAT</h4>
        </ion-content>
    </ion-view>
