<ion-view view-title="Edit">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-calm" ng-click="prfeCtrl.update()">Fatto</button>
    </ion-nav-buttons>


    <ion-content id="profile-edit">

        <form name="userform" novalidate>

            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="model.avatar_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Data di Nascita</span>
                    <input type="date" placeholder="Data di nascita" ng-model="model.born_date">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Dove vivo</span>
                    <input type="text" placeholder="Città" ng-model="model.city">
                </label>

                <label class="item item-input item-select">

                    <div class="input-label">
                        Sesso
                    </div>
                    <select ng-model="model.gender">
                        <option value="M">Maschio</option>
                        <option value="F">Femmina</option>
                    </select>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Descriviti</span>
                <textarea name="description"
                          placeholder="una breve descrizione"
                          ng-model="model.description">
	            </textarea>
                </label>
            </div>

<div class="separator"></div>

            <label class="item item-input item-floating-label">
                <span class="input-label">Codice Bracciale</span>
                <input type="text" placeholder="12345443843334" ng-model="model.quoozy">
            </label>

            <div class="separator"></div>



        </form>

    </ion-content>
</ion-view>