<ion-view view-title="">
    <slider-full>
        <ion-content id="askfriend" class="animate-fade-slide-in profilestyle" on-scroll="sliderFullCtrl.fxscroll()">
            <div class="list">
                <div class="item divider profile-name item-icon-right">
                    <span>{{friend.base.avatar_name}}</span>
                    <span ng-show="age">, {{age}}</span>
                </div>
            </div>

            <div class="list" style="text-align: center">
                <a class="button button-icon icon ion-ios-close-outline " ng-click="askfrCtrl.delete(friend.base.id_user)"></a>
                <a class="button button-icon icon myicon icon-my-ionicons-drink-outline" ng-click="askfrCtrl.addFriend(friend.base.id_user)"></a>
            </div>
        </ion-content>
    </slider-full>
</ion-view>