<ion-view view-title="Inviti">
    <ion-content id="friends" class="animate-fade-slide-in" ng-class="{true: 'defaultBackground'}[!friends.length]">

        <div ng-if="friends.length" class="list">
            <a ng-repeat="friend in friends" class="item item-avatar item-icon-right" ui-sref="main.askprofile({id:friend.id_user})">
                <img ng-src="{{askfrsCtrl.getImage(friend.im_avatar_img)}}">
                <h2>{{friend.avatar_name}}, {{askfrsCtrl.getAge(friend.born_date)}}</h2>

                <p>Ti ha mandato un invito!</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>


        <div ng-if="!friends.length" class="nodata padding">



            <i class="icon ion-sad-outline"></i>

            <h5>Non hai ancora ricevuto nessun invito</h5>


            <button class="button button-large button-raised button-block button-calm ink" style="margin-top:60px" ui-sref="main.search">
                cerca nuovi amici
            </button>


        </div>
    </ion-content>
</ion-view>