<ion-view view-title="">
    <ion-content id="friend">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="user-img-profile padding" style="background: url({{img1}}) no-repeat center; background-size: cover">

                </div>

            </ion-slide>

            <ion-slide ng-if="img2">
                <div class="user-img-profile padding" style="background: url({{img2}}) no-repeat center; background-size: cover">
                    <!-- <div>{{friend.base.avatar_name}}, {{age}}</div> !-->
                </div>
            </ion-slide>
            <ion-slide ng-if="img3">
                <div class="user-img-profile padding" style="background: url({{img3}}) no-repeat center; background-size: cover">
                </div>
            </ion-slide>

            <ion-slide ng-if="img4">
                <div class="user-img-profile padding" style="background: url({{img4}}) no-repeat center; background-size: cover">
                </div>
            </ion-slide>

            <ion-slide ng-if="img5">
                <div class="user-img-profile padding" style="background: url({{img5}}) no-repeat center; background-size: cover">
                    <!--  <div>{{user.base.avatar_name}}, {{age}}</div> !-->
                </div>
            </ion-slide>
        </ion-slide-box>


        <div class="list">

            <div class="item profile-name item-icon-right">
                <span>{{friend.base.avatar_name}}</span>
                <span ng-show="age">, {{age}}</span>
                <i class="icon ion-ios-more" ng-click="openAction()"></i>
            </div>

            <div ng-show="friend.base.description" class="divider" style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px;">
                <small>{{user.base.description }}</small>
            </div>

            <div ng-hide="friend.base.description" class="divider" style="text-align:center; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px;">
                <!--  Il tuo profilo non ha ancora una descrizione!-->
            </div>

            <div class="item item-icon-left app-color divider" ui-sref="main.people">
                <i class="icon ion-ios-people app-color"></i>
                Amici in comune
                <span class="badge" ng-class="friendsColor()">{{friend.base.num_friends}}</span>
            </div>

            <div class="padding" style="background-color: #fff">
            <span ng-repeat="(key,value) in friend.interest">

                   <button ng-if="value" class="button button-light button-flat button-interest button-small">
                       <i class="icon" ng-class="frCtrl.getIncons(key)"></i> {{frCtrl.getInterestName(key)}}
                   </button>
            </span>
            </div>
        </div>


    </ion-content>
</ion-view>