#askfriend, .askfriend {
  background: $background-base url($background_one) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .ion-record {
    color: #ffffff !important;
  }
  .button-interest {

    border-color: $dark;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px !important;
    color: $dark;
    font-size: 10px;
    margin-top: 7px;
  }

   .icon:before {
    font-size:100px;
    box-shadow: none;
     color: $assertive
  }

  .button-icon {
    box-shadow: none;
    padding-top:20px;
    padding-bottom:10px;
    height: 85px;
  }

  .myicon:before {
    font-size:94px;
    color: $calm
  }

  div, a {
    color: $dark;

  }

  div .divider, a .divider {
    border-bottom: 1px solid #E1E1E1;
  }
  .profile-name {
    font-size: 20px;
    color: $dark;
    background-color: $background-base;
    & span:first-child {
      font-weight: bolder;
    }
  }
}