#profile-images {
  background: $background-base url($background_one) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .col {

    & div {
      border:1px solid $border-list-color;
      padding:5px;
      padding-bottom:0;
      background-color: #FFF;
      border-radius:2px;
    }

  }
}