#search-match {
  background: $background-base url($background_one) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .icon:before {
    font-size:100px;
    box-shadow: none;
    color: $assertive
  }

  .button-icon {
    box-shadow: none;
    padding-top:20px;
    padding-bottom:10px;
    height: 85px;
  }

  .myicon:before {
    font-size:94px;
    color: $calm
  }

  .user-avatar {
    text-align: center;
    width: 100%;
    height: 310px;
    // background-color: #000066;
    padding: 10px;

    > div {
      width: 200px;
      height: 200px;
      border: 3px solid $calm;
      text-align: center;
      margin: auto;
      border-radius: 50%;
      vertical-align: middle;
      //background-color: #fff;
    }

    img {
      width: 150px;
      height: 150px;
      margin: auto;
      border-radius: 50%;
      border: 4px solid $calm;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      background-color: #FFF;
    }

  }

  .user-avatar + div {
    text-align: center;
    color: $dark;
  }

  .user-img {
    height: 285px;
  }

  background-color: $background-base;

  .ion-record {
    color: #ffffff !important;
  }
  .button-interest {
    padding: 6px;
    border-color: $dark;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px !important;
    color: $dark;
    font-size: 10px;
    margin-top: 7px;
  }

  div, a {
    color: $dark;

  }

  div .divider, a .divider {
    border-bottom: 1px solid #E1E1E1;
  }
  .profile-name {
    font-size: 16px;
    color: $dark;
    background-color: #ffffff;
    border-bottom: 1px solid $border-list-color;
    & span:first-child {
      font-weight: bolder;
    }
  }




}