<ion-view view-title="">

    <ion-nav-buttons side="secondary">

        <span ng-if="!friend.base.checkFriend">
         <button class="button button-icon icon ion-ios-close-outline assertive-btn ink-dark ink" ng-click="srcprCtrl.hideFriend(friend.base.id_user)"></button>
            <button class="button button-icon icon icon-my-ionicons-drink-outline calm-btn ink-dark ink" ng-click="srcprCtrl.setAskFriend(friend.base.id_user)"></button>
        </span>

         <span ng-if="friend.base.checkFriend">
              <button class="button button-icon icon ion-chatbubbles calm-btn ink-dark ink" ng-click="srcprCtrl.chat(friend.base.id_user)"></button>
         </span>

    </ion-nav-buttons>


    <slider-full>

        <ion-content id="search-profile" class="animate-fade-slide-in profilestyle" on-scroll="sliderFullCtrl.fxscroll()">

            <div class="list">

                <div class="item profile-name item-icon-right">
                    <span>{{friend.base.avatar_name}}</span>
                    <span ng-show="age">, {{age}}</span>
                </div>

                <div ng-if="friend.base.description" class="divider item" style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px;white-space: normal; word-wrap: normal">
                    <small>{{user.base.description }}</small>
                </div>

                <div class="item item-icon-left app-color divider item">
                    <i class="icon ion-ios-people app-color"></i>
                    Amici in comune
                    <span class="badge" ng-class="friendsColor()">{{friend.base.num_friends}}</span>
                </div>

                <div class="padding item" style="background-color: #fff; margin-top:5px; white-space: normal; word-wrap: normal">
            <span ng-repeat="(key,value) in friend.interest">

                   <button ng-if="value" class="button button-light button-flat button-interest button-small">

                       <i class="icon" ng-class="srcprCtrl.getIncons(key)"></i> {{srcprCtrl.getInterestName(key)}}
                   </button>
            </span>
                </div>
            </div>
        </ion-content>
    </slider-full>
</ion-view>